@import "tailwindcss";
.ugo{
    background-size: 100%  100%;
}
.one{
    position: sticky;
    top: 0%;
    z-index: 1000;
}
 

content{
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ctxt{
    background-color:   blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.ctxt1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}
.ctxt2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6rem;
    font-weight: bolder;
    color: white;
}
.ctxt3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color:  rgb(12, 12, 12);
}
.ctxt4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: white;
}
.cbtn1{
    height: 7vh;
    width: 7rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(8, 62, 212);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: white;
}
.cbtn2{
    height: 7vh;
    width: 8rem;
    border: none;
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: white;
    position: relative;
    left: 25%;
    top: -13%;
}
.cimg{
    background-image: url(flower.jpeg);
    background-position: top;
    background-size: cover;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.review{
    height: 50vh;
    width: 100%;
    background-color: transparent;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view{
    height: 30vh;
    width: 90%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.iew{
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid  rgb(60, 0, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
}
.txtb{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}
.txtsmall{
    font-size: 1rem;
}
.subtxt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(170, 166, 166);
}
.iewx{
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid  rgb(60, 0, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
}






 
.pull{
     border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.27rem;
    font-weight: 100;
    padding-top: 1rem;
}
.row33{
    height: 20vh;
    width: 20vh;
    background-color:   rgb(24, 108, 224);
    border: 1.5px solid rgb(12, 6, 186);
    border-radius: 100%;
    border-style: bold;
    top: 80%;
    left: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}
.Row3{
    background-image: url(tuxedo.jpg);
    background-position: top;
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.review{
    height: 50vh;
    width: 100%;
    background-color: transparent;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view{
    height: 30vh;
    width: 90%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.iew{
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid  rgb(72, 0, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
}
.txtb{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}
.txtsmall{
    font-size: 1rem;
}
.subtxt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(170, 166, 166);
}
.iewx{
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid  rgb(72, 0, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
}
.iewy{
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid  rgb(72, 0, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
}
.iewz{
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid  rgb(72, 0, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
}
.about{
    height: 95vh;
    width: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-rows: 1fr 2fr 5fr;
    gap: 1rem;
}
.aboutme{
    /* background-color: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
.me{
    height: 6vh;
    width: 6vh;
    background-color:   blue;
    border-radius: 100%;
}
.aboutheader{
    /* background-color: green; */
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}
.aboutcontent{
    /* background-color: green; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1rem;
}
.hire{
    height: 20vh;
    width: 20vh;
    background-color:   blue;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 100%;
    border-style: dashed;
    position: relative;
    top: 80%;
    left: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}
.aboutcontent1{
    background-image: url(tuxedo.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.aboutcontent2{
    /* background-color: yellow; */
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.27rem;
    font-weight: 100;
    padding-top: 1rem;
}
.content21{
    color: rgb(91, 90, 90);
}
.content22{
    color: rgb(171, 169, 169);
}
.aboutcontent3{
    /* background-color: yellow; */
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}
.content31{
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.content32{
    background-color: #fff;
    display: grid;
    grid-template-rows: 5fr 1fr;
}
.content321{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
.text31{
    color: rgb(31, 30, 30);
}
.text32{
    color: rgb(174, 170, 170);
    font-size: 0.9rem;
}
.content322{
    background-color: rgb(211, 206, 206);
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.content322a{
    background-color:blue;
}
.content33{
    background-color: #fff;
    display: grid;
    grid-template-rows: 6fr 1fr;
}
.content331{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
.content332{
    background-color: rgb(211, 206, 206);
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.content332a{
    background-color:blue;
}
.content34{
    background-color: #fff;
    display: grid;
    grid-template-rows: 5fr 1fr;
}
.content341{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
.content342{
    background-color: rgb(211, 206, 206);
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.content342a{
    background-color: blue;
}
.content35{
    background-color: #fff;
    display: grid;
    grid-template-rows: 5fr 1fr;
}
.content351{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
.content352{
    background-color: rgb(211, 206, 206);
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.content352a{
    background-color: blue;
}
.personalinformation{
    height: 90vh;
    width: 100%;
    /* background-color: blueviolet; */
    position: relative;
    top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.education{
    /* background-color: red; */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1.8rem;
    padding-left: 1rem;
}
.education1{
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.education2{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid rgb(122, 119, 119);
    border-bottom: 1px solid rgb(122, 119, 119);
}
.education21{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.green{
    height: 8vh;
    width: 8vh;
    background-color: blue;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: bolder;
}
.education22{
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.education3{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid rgb(122, 119, 119);
    border-bottom: 1px solid rgb(122, 119, 119);
}
.education31{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.education32{
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.education4{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid rgb(122, 119, 119);
    border-bottom: 1px solid rgb(122, 119, 119);
}
.education41{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.education42{
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.experience{
    /* background-color: red; */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    padding-right: 1rem;
}
.experience1{
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.expose{
    position: relative;
    left: -1.5%;
}
.experience2{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid rgb(122, 119, 119);
    border-bottom: 1px solid rgb(122, 119, 119);
}
.experience21{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.experience22{
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.experience3{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid rgb(122, 119, 119);
    border-bottom: 1px solid rgb(122, 119, 119);
}
.experience31{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.experience32{
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.experience4{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid rgb(122, 119, 119);
    border-bottom: 1px solid rgb(122, 119, 119);
}
.experience41{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.experience42{
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.service{
    height: 30vh;
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.services span{
    height: 15vh;
    width: 15vh;
    background-color:   rgb(0, 26, 255);
    border-radius: 100%;
}
.servicehead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}
.grids{
    height: 70vh;
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 5.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rids{
    height: 60vh;
    width: 95%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.ridsa{
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 1rem;
    border: 1px solid rgb(198, 196, 196);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    letter-spacing: 1px;
}
.saicon{
    font-size: 2.5rem;
}
.sahead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}
.sabody{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 1.7rem;
    font-weight: lighter;
    color: rgb(151, 146, 146);
}
.ridsa section{
    height: 10vh;
    width: 10vh;
    background-color:  rgb(0, 26, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.arrow{
    position: relative;
    top: -23%;
    left: 10%;
}
.arrow1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    position: relative;
    top: 8px;
    left: -6px;
}
.sacircle{
    height: 6vh;
    width: 6vh;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 100%;
    border: 1px solid rgb(146, 143, 143);
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.grids1{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rids1{
    height: 55vh;
    width: 95%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    position: relative;
    top: -20%;
}
.projects{
    height: 25vh;
    width: 100%;
    box-sizing: border-box;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 7%;
}
.rojects{
    height: 20vh;
    width: 95%;
    /* background-color: blue; */
}
.rectangle{
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7%;
}
.tangle{
    height: 70vh;
    width: 95%;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
.angle1a{
    display: grid;
    grid-template-rows: 4fr 1fr 2fr;
    gap: 0.5rem;
}
.angle1{
    /* background-color: green; */
    display: grid;
    grid-template-rows: 4fr 1fr 2fr;
    gap: 0.5rem;
}
.angle2a{
    background: url(one.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
.angle2b{
    background: url(two.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
.angle2c{
    background: url(three.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
.angle2d{
    background: url(four.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
.angle2e{
    background: url(five.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
.angle3{
    height: 8vh;
    width: 8rem;
    background-color:  rgb(72, 0, 255);
    border-radius: 1rem;
    border-top-left-radius: 6rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
.angle4{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.arrow2{
    position: relative;
    top: 8px;
    right: -4px;
    font-weight: bold;
}
.arrow3{
    position: relative;
    top: 8px;
    left: -4px;
    font-weight: bold;
}
.arw{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    position: relative;
    left: 190%;
    color: darkgreen;
}
.retina{
    height: 100vh;
    width: 100%;
    /* background-color: green; */
    position: relative;
    top: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.etina{
    height: 100vh;
    width: 95%;
    /* background-color: blue; */
    background-image: url(ladygreen.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:   rgb(0, 26, 255);
    background-blend-mode:hard-light;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tina{
    height: 20vh;
    width: 20vh;
    background-color:  rgb(0, 26, 255);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    transition: all 0.5s ease-in-out;
}
.tina:hover{
    background-color: rgb(34, 78, 112);
    color: white;
}
.service2{
    height: 30vh;
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pricing{
    height: 100vh;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    top: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ricing{
    height: 85vh;
    width: 90%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.icing{
    /* background-color: yellow; */
    border-radius: 1rem;
    border: 30px solid rgb(199, 191, 191);
    display: grid;
    grid-template-rows: repeat(2,2fr) 5fr 2fr;
    transition: all 1s;
}
.icing:hover{
    border: 1px solid rgb(70, 66, 66);
}
.un{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    padding-left: 2rem;
}
.un p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}
.deux{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
}
.eux{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(82, 79, 79);
}
.ux{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    left: 8%;
}
.trois{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-transform: capitalize;
    padding-left: 2rem;
}
.rois{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: rgb(82, 79, 79);
}
.rois p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quatre{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
}
.quatre button{
    height: 8vh;
    width: 11rem;
    text-transform: capitalize;
    border: 1px solid black;
    background-color: white;
    transition: all 1s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
}
.quatre button:hover{
    background-color:  rgb(17, 92, 205);
}
.osing{
    height: 60vh;
    width: 100%;
    background-color: rgb(0, 26, 255);
    position: relative;
    top: 8.5%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sing{
    height: 50vh;
    width: 95%;
    /* background-color: blue; */
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.ing{
    /* background-color: orange; */
    border-bottom: 1px solid rgb(199, 191, 191);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
}
.ng{
    /* background-color: yellow; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.ng p{
    color: white;
}
.ng a{
    color:  rgb(109, 105, 105);
}
.ng input{
    height: 7vh;
    width: 20rem;
    border: 1px solid rgb(109, 105, 105);
    border-radius: 1rem;
    background-color: transparent;
    display: flex;
} 
.ng ::placeholder{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    position: relative;
    left: 6%;
    top: 3%;
}
.ngi{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: rgb(203, 197, 197);
}
.in{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(203, 197, 197);
}
.inner{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.navbar2{
    height: 20vh;
    width: 100%;
    background-color: red;
}

